<a href="https://colab.research.google.com/github/Vivek-code/python_basics1/blob/main/assignemnt1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Case Study: Grocery Billing System
Problem: A shopkeeper wants to generate a total bill using item prices.
Task: Take a list of prices and compute the total using a loop.
Test Case:
Input: [50, 20, 30, 100]
Output: Total Bill: 200

In [64]:
items=[50, 20, 30, 100]
sum=0
for item in items:
  sum+=item
print(f"Total Bill : {sum}")

Total Bill : 200

2.Problem: Calculate the average marks of a student using a tuple of 5 subjects.
Test Case:
Input: (80, 90, 70, 60, 85)
Output: Average: 77.0

In [65]:
marks=[80, 90, 70, 60, 85]
sum=0
for mark in marks:
  sum+=mark
print(f"Average : {sum/len(marks)}")

Average : 77.0

3.Problem: Extract unique email addresses from a list using a set.
Test Case:
Input: ['a@gmail.com', 'b@gmail.com', 'a@gmail.com']
Output: {'a@gmail.com', 'b@gmail.com'}

In [66]:
emails=['a@gmail.com', 'b@gmail.com', 'a@gmail.com']
emailset=set()
for email in emails:
  emailset.add(email)
print(emailset)

{'b@gmail.com', 'a@gmail.com'}

4. Case Study: Attendance Tracker
Problem: Use a dictionary to store and print student names with their attendance status.
Test Case:
Input: {'Alice': 'Present', 'Bob': 'Absent'}
Output:
Alice: Present
Bob: Absent

In [67]:
attendance={'Alice': 'Present', 'Bob': 'Absent'}
for key, value in attendance.items():
    print(f"{key}: {value}")

Alice: Present
Bob: Absent

5. Case Study: Multiplication Table
Problem: Print the multiplication table of a number using a loop.
Test Case:
Input: n = 4
Output: 4 8 12 16 20 24 28 32 36 40

In [68]:
n=int(input("enter a number"))
for i in range (1,11):
  print(i*n)

enter a number4
4
8
12
16
20
24
28
32
36
40

6. Case Study: Power Calculator
Problem: Raise each number in a list to the power of 2 using a loop.
Test Case:
Input: [1, 2, 3]
Output: [1, 4, 9]

In [69]:
numbers=[1,2,3]
powerarr=[]
for num in numbers:
  powerarr.append(num*num)
print(powerarr)

[1, 4, 9]

7. Case Study: Diamond Star Pattern
Problem: A school wants to print a diamond pattern for decorations using `*`. Write a
program using nested loops to print a diamond star pattern of height n.
Note: The height will always be an odd number.
Test Case:
Input: n = 5
Output:
"*"
"***"
"*****"
"***"
"*"

In [70]:
n=int(input("enter n"))
for i in range (1,n,2):
  print(i*'*')
for i in range (n,0,-2):
  print(i*'*')

enter n5
*
***
*****
***
*

8. Case Study: Count Even and Odd
Problem: Count even and odd numbers from a tuple using a loop.
Test Case:
Input: (1, 2, 3, 4, 5)
Output: Even: 2, Odd: 3

In [71]:
numbers=[1,2,3,4,5]
even=0
odd=0
for num in numbers:
  if (num%2==0):
    even+=1
  else:
    odd+=1
print(f"even{even}")
print(f"odd{odd}")

even2
odd3

9. Case Study: Unique Fruits
Problem: From a list of fruits, print the unique ones using set.
Test Case:
Input: ['apple', 'banana', 'apple', 'orange']
Output: {'apple', 'banana', 'orange'}

In [72]:
fruits=['apple', 'banana', 'apple', 'orange']
setfru=set()
for fruit in fruits:
  setfru.add(fruit)
print(setfru)

{'orange', 'apple', 'banana'}

10. Case Study: Sum Dictionary Values
Problem: Calculate the total marks from a dictionary of subject marks.
Test Case:
Input: {'Math': 70, 'English': 80, 'Science': 75}
Output: Total: 225

In [73]:
marks={'Math': 70, 'English': 80, 'Science': 75}
sum=0
for key,value in marks.items():
  sum+=value
print(f"Total : {sum}")

Total : 225

11. Case Study: Reverse List
Problem: Reverse a list using a loop.
Test Case:
Input: [10, 20, 30]
Output: [30, 20, 10]

In [74]:
arr=[10,20,30]
revarr=[]
for i in range(len(arr)-1,-1,-1):
  revarr.append(arr[i])
print(revarr)

[30, 20, 10]

12. Case Study: Login Verification
Problem: Use `==` operator to check if entered username matches the stored one.
Test Case:
Input: Stored = admin, Entered = admin
Output: Login Successful

In [75]:
stored="admin"
entered="admin"
if(stored==entered):
  print("Login succesful")

Login succesful

Problem: Loop through a dictionary to find the total number of books.
Test Case:
Input: {'Math': 5, 'History': 4, 'English': 6}
Output: Total Books: 15

In [76]:
books={'Math': 5, 'History': 4, 'English': 6}
sum=0
for key,value in books.items():
  sum+=value
print(f"Total Books : {sum}")

Total Books : 15

Problem: Print numbers divisible by 3 from 1 to 20 using a loop.
Test Case:
Output: 3, 6, 9, 12, 15, 18

In [77]:
for i in range(1,21):
  if(i%3==0):
    print(i)

3
6
9
12
15
18

Problem: Use a loop and operator to compare elements of two lists and print common
items.
Test Case:
Input: [1, 2, 3] and [2, 3, 4]
Output: [2, 3]

In [78]:
l1=[1,2,3]
l2=[2,3,4]
for l in l1:
  if l in l2:
    print(l)

2
3

16. Case Study: Vowel Counter
Problem: Count the number of vowels in a word using loop and condition.
Test Case:
Input: 'education'
Output: 5

In [79]:
word ="education"
vowels=['a','e','i','o','u']
sum=0;
for c in word:
  if c in vowels:
    sum+=1
print(sum)

5

17. Case Study: Duplicate Remover
Problem: Remove duplicates from a list using a set and convert back to list.
Test Case:
Input: [1, 1, 2, 3, 3]
Output: [1, 2, 3]

In [80]:
numbers= [1, 1, 2, 3, 3]
s=set()
for num in numbers:
  s.add(num)
numbers=list(s)
print(numbers)

[1, 2, 3]

18. Case Study: Student Rank
Problem: Store and display student names with ranks using dictionary (Rank as key).
Test Case:
Input: {1: 'John', 2: 'Alice'}
Output:
1 - John
2 - Alice

In [81]:
rank= {1: 'John', 2: 'Alice'}
for key,values in rank.items():
  print(f"{key} : {values}")

1 : John
2 : Alice

Problem: Print all coordinate pairs from two ranges using nested loops.
Test Case:
Input: range(2) and range(3)
Output:
(0, 0)

(0, 1)
(0, 2)
(1, 0)
(1, 1)
(1, 2)

In [82]:
for i in range (2):
  for j in range (3):
    print(f"({i},{j})")

(0,0)
(0,1)
(0,2)
(1,0)
(1,1)
(1,2)

20. Case Study: Password Strength
Problem: Check if a password contains both digits and letters using loops and operators.
Test Case:
Input: 'pass123'
Output: Strong Password

In [83]:
flagletter=False
flagdigit=False
password="Pass123"
for ch in password:
  if (not flagletter):
    if(ord(ch)<=122 and ord(ch)>=65):
      flagletter=True
  if (not flagdigit and ch.isdigit()):
      flagdigit=True
if(flagletter and flagdigit):
  print("Strong Password")
else:
  print("Weak Password")

Strong Password